Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

lib-linux-release-x64:
  stage: build-lib
  tags:
  - docker
  image: ingescape/debian-with-zyre
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-x64
    expire_in: 1 week
  dependencies: []

lib-linux-release-armhf:
  stage: build-lib
  tags:
  - docker
  image: ingescape/ubuntu-x-compil-rpi
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=/toolchain.cmake
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-armhf
    expire_in: 1 week
  ...

lib-macos-release-x64:
  stage: build-lib
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-macos-release-x64
    expire_in: 1 week
  dependencies: []

editor-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Editor/build
  - cmake -S editor/apps/IngeScape-Editor/ -B editor/apps/IngeScape-Editor/build -DCMAKE_BUILD_TYPE=Release
  ...

assessments-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Assessments/build
  - cmake -S editor/apps/IngeScape-Assessments/ -B editor/apps/IngeScape-Assessments/build -DCMAKE_BUILD_TYPE=Release
  ...

lib-windows-release-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX64
  ...

lib-windows-release-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX86
  ...

lib-windows-debug-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX64
  ...

lib-windows-debug-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX86
  ...

lib-installer-runtime-macos-x64:
  stage: installer-lib
  tags:
  - osx
  script:
  - make -C build package
  - cp dependencies/unix/installIngescapeAndDependencies.sh build/installIngescapeAndDependencies.sh
  ...

Correct bug about free
  editor/dependencies/cqlExporter/cqlexporter.c
Due: none

HOTFIX : call of free for the string to write duplicated
  editor/dependencies/cqlExporter/cqlexporter.c
Due: none

Manage timeline from platforms list
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
  editor/apps/IngeScape-Expe/qml/LoadedPlatform.qml
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: none

Manage Play and Record from Expe with feedbacks
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/main.cpp
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
  editor/apps/IngeScape-Expe/qml/LoadedPlatform.qml
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: none

Delete dependent variables from DB
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Selected task DELETE_PROOF
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

static method to delete a task (and its variables) from DB
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

static method to delete a subject (and its characteristic values) from DB
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

static method to delete a characteristic (and its characteristic values) from DB
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Delete experimentations recursively
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

static method to delete an experimentation (and its components) from DB
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Update characteristics values in DB
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

update independent variables into DB
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/model/recordsetupm.cpp
  editor/apps/IngeScape-Assessments/model/recordsetupm.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Expe groups graphic rendering
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

New experiment button
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

experiment hovering background color
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Double click opens experiment
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Display infos about Qt Quick: render loop, scene graph backend, OpenGL infos (vendor, renderer, version) when our application uses an OpenGL backend
  editor/apps/IngeScape-Common/igs_common_qml.qrc
  editor/apps/IngeScape-Common/ingescapecommon.cpp
  editor/apps/IngeScape-Common/misc/debugquickinspector.cpp
  editor/apps/IngeScape-Common/misc/debugquickinspector.h
  editor/apps/IngeScape-Common/qml/QtQuickInfoPopup.qml
  editor/apps/IngeScape-Editor/main.cpp
  editor/apps/IngeScape-Editor/qml/main.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Experimentation group have rounded top corners
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Hard coded colors moved to IngeScapeTheme
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
  editor/apps/IngeScape-Common/qml/theme/IngeScapeTheme.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Experimentation view header
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Background home screen
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Experiemnetaiton view background
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

ButtonStyle and ListHeader into separate QML files
  editor/apps/IngeScape-Assessments/main.cpp
  editor/apps/IngeScape-Assessments/qml.qrc
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
  editor/apps/IngeScape-Assessments/qml/theme/IngeScapeAssessmentsButtonStyle.qml
  editor/apps/IngeScape-Assessments/qml/theme/IngeScapeAssessmentsListHeader.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Explicit ID
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Default app size
  editor/apps/IngeScape-Assessments/qml/main.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Experimentation view
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
  editor/apps/IngeScape-Assessments/qml/experimentation/RecordSetupInList.qml
  editor/apps/IngeScape-Assessments/qml/theme/IngeScapeAssessmentsButtonStyle.qml
  editor/apps/IngeScape-Assessments/qml/theme/IngeScapeAssessmentsListHeader.qml
  editor/apps/IngeScape-Assessments/qml/theme/IngeScapeAssessmentsTheme.qml
  editor/apps/IngeScape-Common/qml/theme/IngeScapeTheme.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Experimentation name edition
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
  editor/apps/IngeScape-Assessments/qml/experimentation/RecordSetupInList.qml
  editor/apps/IngeScape-Assessments/qml/theme/IngeScapeAssessmentsButtonStyle.qml
  editor/apps/IngeScape-Assessments/qml/theme/IngeScapeAssessmentsTheme.qml
  editor/apps/IngeScape-Common/qml/theme/IngeScapeTheme.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Experimentaiton name edition persisted into DB
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Ticket 7 aka simple Windows encoding problem aka "Not Héloïse proof"
  editor/apps/IngeScape-Common/controller/ingescapenetworkcontroller.cpp
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Add empty file to create bin directory on windows to be able to add bin directory in path
  CMakeLists.txt
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all

Characteristics panel
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
  editor/apps/IngeScape-Assessments/qml/subject/Characteristic.qml
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Characteristic values for subjects
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Blank subject list view
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

SubjectView exit button bigger
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Reorganise components so the list backgrounf does not show behind the list header
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Add cmake for Expe
  builds/cmake/modules/IngescapeEditorHelper.cmake
  editor/apps/IngeScape-Expe/CMakeLists.txt
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Add gitlab-ci to build expe
  .gitlab-ci.yml
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Comment expe for gitlab-ci
  .gitlab-ci.yml
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Add Qt Quick component: dashed bar
  editor/apps/IngeScape-Common/IngeScape-Common.pri
  editor/apps/IngeScape-Common/graphics/dashedbar.cpp
  editor/apps/IngeScape-Common/graphics/dashedbar.h
  editor/apps/IngeScape-Common/ingescapecommon.cpp
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Path conditions:
  lib-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-windows-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-windows-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-macos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-linux-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-9-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-10-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-centos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-linux-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-raspbian-9-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-delivery-all: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  apps-delivery-all: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
