Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

lib-linux-release-x64:
  stage: build-lib
  tags:
  - docker
  image: ingescape/debian-with-zyre
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-x64
    expire_in: 1 week
  dependencies: []

lib-linux-release-armhf:
  stage: build-lib
  tags:
  - docker
  image: ingescape/ubuntu-x-compil-rpi
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=/toolchain.cmake
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-armhf
    expire_in: 1 week
  ...

lib-macos-release-x64:
  stage: build-lib
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-macos-release-x64
    expire_in: 1 week
  dependencies: []

editor-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Editor/build
  - cmake -S editor/apps/IngeScape-Editor/ -B editor/apps/IngeScape-Editor/build -DCMAKE_BUILD_TYPE=Release
  ...

assessments-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Assessments/build
  - cmake -S editor/apps/IngeScape-Assessments/ -B editor/apps/IngeScape-Assessments/build -DCMAKE_BUILD_TYPE=Release
  ...

lib-windows-release-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX64
  ...

lib-windows-release-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX86
  ...

lib-windows-debug-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX64
  ...

lib-windows-debug-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX86
  ...

lib-installer-runtime-macos-x64:
  stage: installer-lib
  tags:
  - osx
  script:
  - make -C build package
  - cp dependencies/unix/installIngescapeAndDependencies.sh build/installIngescapeAndDependencies.sh
  ...

Template method to delete an entry from Cassandra DB. Normalize model classes. Fix cascade deletion when deleting experimentation
  editor/apps/IngeScape-Assessments/IngeScape-Assessments.pro
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicvaluem.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicvaluem.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.h
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.h
  editor/apps/IngeScape-Assessments/model/task/independentvariablevaluem.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablevaluem.h
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.h
  editor/apps/IngeScape-Assessments/model/taskinstancem.cpp
  editor/apps/IngeScape-Assessments/model/taskinstancem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Template method to delete entries from Cassandra DB filtered on multiple values of the same key
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fix inde var values table name
  editor/apps/IngeScape-Assessments/model/task/independentvariablevaluem.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Licenses Popup with error message and flag (need graphism)
  editor/apps/IngeScape-Common/controller/licensescontroller.cpp
  editor/apps/IngeScape-Common/controller/licensescontroller.h
  editor/apps/IngeScape-Common/qml/LicensePopup.qml
  editor/apps/IngeScape-Common/qml/timeline/ScenarioTimeLine.qml
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/qml/IngeScapeEditor.qml
  editor/apps/IngeScape-Editor/qml/main.qml
  editor/apps/IngeScape-Editor/qml/scenario/ActionEditor.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Template method for SELECT queries
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.h
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.h
  editor/apps/IngeScape-Assessments/model/task/independentvariablevaluem.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.h
  editor/apps/IngeScape-Assessments/model/taskinstancem.cpp
  editor/apps/IngeScape-Assessments/model/taskinstancem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Display data about licenses
  editor/apps/IngeScape-Common/controller/licensescontroller.cpp
  editor/apps/IngeScape-Common/controller/licensescontroller.h
  editor/apps/IngeScape-Common/qml/LicensePopup.qml
  editor/apps/IngeScape-Editor/qml/IngeScapeEditor.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Configure network in assessments
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.h
  editor/apps/IngeScape-Assessments/qml/IngeScapeAssessments.qml
  editor/apps/IngeScape-Assessments/qml/main.qml
  editor/apps/IngeScape-Common/igs_common_qml.qrc
  editor/apps/IngeScape-Common/ingescapecommon.cpp
  editor/apps/IngeScape-Common/qml/IngeScapeToolTipComboboxDelegate.qml
  editor/apps/IngeScape-Common/qml/NetworkPopup.qml
  editor/apps/IngeScape-Common/qml/theme/IngeScapeComboboxStyle.qml
  editor/apps/IngeScape-Common/qml/theme/IngeScapeScrollViewStyle.qml
  editor/apps/IngeScape-Editor/main.cpp
  editor/apps/IngeScape-Editor/qml.qrc
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

update database intializer for recorder and assessment
  editor/data/cassandra/init_db.cql
Due: none

Fix some warnings in cqlExporter.c
  editor/dependencies/cqlExporter/cqlexporter.c
  editor/dependencies/cqlExporter/cqlexporter.h
Due: none

Set I/O/P count to show separator in action's effect combobox
  editor/apps/IngeScape-Editor/qml/scenario/ActionEditor.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

read and clean license at each license check
  src/license.c
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

add javascript node binding
  bindings/javascript-node/README.md
  bindings/javascript-node/binding.gyp
  bindings/javascript-node/headers/admin_config_utils.h
  bindings/javascript-node/headers/callback_igs.h
  bindings/javascript-node/headers/definition.h
  bindings/javascript-node/headers/global.h
  bindings/javascript-node/headers/init_control.h
  bindings/javascript-node/headers/iop.h
  bindings/javascript-node/headers/licenses.h
  bindings/javascript-node/headers/mapping.h
  bindings/javascript-node/headers/uthash/utlist.h
  bindings/javascript-node/main.c
  bindings/javascript-node/package-lock.json
  bindings/javascript-node/package.json
  bindings/javascript-node/src/admin_config_utils.c
  bindings/javascript-node/src/callback_igs.c
  bindings/javascript-node/src/definition.c
  bindings/javascript-node/src/global.c
  bindings/javascript-node/src/init_control.c
  bindings/javascript-node/src/iop.c
  bindings/javascript-node/src/licenses.c
  bindings/javascript-node/src/mapping.c
Due: none

Template method for INSERT queries
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.cpp
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.h
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.h
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.h
  editor/apps/IngeScape-Assessments/model/taskinstancem.cpp
  editor/apps/IngeScape-Assessments/model/taskinstancem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

License Popup: Display list of features, list of agents. TODO: list of files (licenseFileM)
  editor/apps/IngeScape-Common/controller/licensescontroller.cpp
  editor/apps/IngeScape-Common/controller/licensescontroller.h
  editor/apps/IngeScape-Common/qml/LicensePopup.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Before add license
  bindings/c#/IngescapeCSharpWrapper/CSharpSampleAgent/IgsAgent.cs
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/Ingescape.cs
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/IngescapeCSharp.csproj
Due: none

Path specific to user :(
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/obj/IngescapeCSharp.csproj.nuget.g.props
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/obj/IngescapeCSharp.csproj.nuget.g.targets
Due: none

Add licenses management to C# binding
  bindings/c#/IngescapeCSharpWrapper/CSharpSampleAgent/IgsAgent.cs
  bindings/c#/IngescapeCSharpWrapper/CSharpSampleAgent/Program.cs
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/Ingescape.cs
Due: none

CharacteristicValueM SELECT & INSERT now use templates methods
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicvaluem.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicvaluem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

SELECT query for experimentations uses the template method
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

IndependentVariableValueM INSERT & SELECT now use template methods
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicvaluem.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicvaluem.h
  editor/apps/IngeScape-Assessments/model/task/independentvariablevaluem.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablevaluem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fix QML warnings
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
  editor/apps/IngeScape-Assessments/qml/popup/CreateExperimentationPopup.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Allow SELECT queries without filters
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Add template method for UPDATE queries
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

UPDATE query for experimentations use the template method
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

UPDATE query for subjects use the template method
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

UPDATE query for task instances use the template method
  editor/apps/IngeScape-Assessments/model/taskinstancem.cpp
  editor/apps/IngeScape-Assessments/model/taskinstancem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

UPDATE query for characteristic values use the template method
  editor/apps/IngeScape-Assessments/model/subject/characteristicvaluem.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicvaluem.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

UPDATE query for dependent variables use the template method
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.h
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

UPDATE query for independent variable values use the template method
  editor/apps/IngeScape-Assessments/model/task/independentvariablevaluem.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablevaluem.h
  editor/apps/IngeScape-Assessments/model/taskinstancem.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fix warning on inconcitent dll in ingecape common
  builds/cmake/modules/IngescapeEditorHelper.cmake
  editor/apps/IngeScape-Common/IngeScape-Common.pri
  editor/apps/IngeScape-Common/ingescape-common_global.h
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Width of agents & actions in mapping saved when saving the platform
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.cpp
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.h
  editor/apps/IngeScape-Editor/qml/agentsmapping/AgentNodeView.qml
  editor/apps/IngeScape-Editor/viewModel/agentinmappingvm.cpp
  editor/apps/IngeScape-Editor/viewModel/agentinmappingvm.h
  editor/apps/IngeScape-Editor/viewModel/mapping/actioninmappingvm.cpp
  editor/apps/IngeScape-Editor/viewModel/mapping/actioninmappingvm.h
  editor/apps/IngeScape-Editor/viewModel/mapping/objectinmappingvm.cpp
  editor/apps/IngeScape-Editor/viewModel/mapping/objectinmappingvm.h
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Add resize handle on the right side of an agent node. Need to refine style.
  editor/apps/IngeScape-Editor/qml/agentsmapping/AgentNodeView.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Resize handle moved to the bottom of the agent view so it does not hide outputs
  editor/apps/IngeScape-Editor/qml/agentsmapping/AgentNodeView.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Save menu action won't ask for a file path when a platform is loaded
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/qml/main.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

New 'Save As...' action in the 'Platform' menu
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/qml/main.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Simplify gitignore and remove obsolete path
  .gitignore
Due: none

Add C sharp binding in gitlab
  .gitlab-ci.yml
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Add cmake for C sharp binding
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/CMakeLists.txt
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/FixCmakeSolution.ps1
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/Ingescape.cs
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/builds/cmake/NSIS.InstallOptions.ini.in
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/builds/cmake/NSIS.template.in
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/obj/Debug/netstandard2.0/IngescapeCSharp.AssemblyInfo.cs
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/obj/IngescapeCSharp.csproj.nuget.g.props
  bindings/c#/IngescapeCSharpWrapper/IngescapeCSharp/obj/IngescapeCSharp.csproj.nuget.g.targets
  bindings/c#/README.md
Due: none

Fix PowerShell execution for binding csharp
  .gitlab-ci.yml
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Fix #18 Agent's resize handles now invisible, left & right, the whole height of the agent and with a double arrow cursor
  editor/apps/IngeScape-Editor/qml/agentsmapping/AgentNodeView.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Path conditions:
  lib-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-windows-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-windows-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-macos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-linux-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-9-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-10-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-centos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-linux-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-raspbian-9-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-delivery-all: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  apps-delivery-all: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
