Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-release-x64, osx-release-x64, osx-editor-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, windows-editor-release-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-editor-osx-x64, installer-editor-windows-x86, installer-runtime-linux-x64

Path conditions:
  linux-release-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  osx-release-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  osx-editor-release-x64: any of: editor/**/*
  windows-release-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  windows-release-x86: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  windows-debug-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  windows-debug-x86: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  windows-editor-release-x86: any of: editor/**/*
  installer-runtime-windows-x86: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  installer-runtime-windows-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  installer-runtime-osx-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  installer-editor-osx-x64: any of: editor/**/*
  installer-editor-windows-x86: any of: editor/**/*
  installer-runtime-linux-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*

First classes for the data model of measuring
  editor/apps/IngeScape-Measuring/IngeScape-Measuring.pro
  editor/apps/IngeScape-Measuring/controller/ingescapemodelmanager.h
  editor/apps/IngeScape-Measuring/controller/networkcontroller.h
  editor/apps/IngeScape-Measuring/main.cpp
  editor/apps/IngeScape-Measuring/model/experimentationm.cpp
  editor/apps/IngeScape-Measuring/model/experimentationm.h
  editor/apps/IngeScape-Measuring/model/subject/characteristicenumm.cpp
  editor/apps/IngeScape-Measuring/model/subject/characteristicenumm.h
  editor/apps/IngeScape-Measuring/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Measuring/model/subject/characteristicm.h
  editor/apps/IngeScape-Measuring/model/subject/subjectm.cpp
  editor/apps/IngeScape-Measuring/model/subject/subjectm.h
  editor/apps/IngeScape-Measuring/model/task/dependentvariablem.cpp
  editor/apps/IngeScape-Measuring/model/task/dependentvariablem.h
  editor/apps/IngeScape-Measuring/model/task/independentvariableenumm.cpp
  editor/apps/IngeScape-Measuring/model/task/independentvariableenumm.h
  editor/apps/IngeScape-Measuring/model/task/independentvariablem.cpp
  editor/apps/IngeScape-Measuring/model/task/independentvariablem.h
  editor/apps/IngeScape-Measuring/model/task/taskm.cpp
  editor/apps/IngeScape-Measuring/model/task/taskm.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Enums specific to Measuring
  editor/apps/IngeScape-Measuring/IngeScape-Measuring.pro
  editor/apps/IngeScape-Measuring/controller/ingescapemodelmanager.h
  editor/apps/IngeScape-Measuring/main.cpp
  editor/apps/IngeScape-Measuring/model/measuringenums.cpp
  editor/apps/IngeScape-Measuring/model/measuringenums.h
  editor/apps/IngeScape-Measuring/model/subject/characteristicm.h
  editor/apps/IngeScape-Measuring/model/task/independentvariablem.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Add deployment of ingescape private for unix and osx in gitlab runner
  .gitlab-ci.yml
Due: none

Snapshots
  editor/apps/IngeScape-Editor/qml/agent/AgentDefinitionEditor.qml
  editor/apps/IngeScape-Editor/qml/main.qml
  editor/apps/IngeScape-Measuring/qml/main.qml
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Fix include path for deploying ingescape private in gitlab runner
  .gitlab-ci.yml
Due: none

Data model of Measuring
  editor/apps/IngeScape-Measuring/IngeScape-Measuring.pro
  editor/apps/IngeScape-Measuring/controller/ingescapemodelmanager.cpp
  editor/apps/IngeScape-Measuring/controller/ingescapemodelmanager.h
  editor/apps/IngeScape-Measuring/main.cpp
  editor/apps/IngeScape-Measuring/model/measuringenums.h
  editor/apps/IngeScape-Measuring/model/recordm.cpp
  editor/apps/IngeScape-Measuring/model/recordm.h
  editor/apps/IngeScape-Measuring/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Measuring/model/subject/characteristicm.h
  editor/apps/IngeScape-Measuring/model/subject/subjectm.cpp
  editor/apps/IngeScape-Measuring/model/subject/subjectm.h
  editor/apps/IngeScape-Measuring/model/task/independentvariablem.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

remove autotools legacy files
  Makefile.am
  autogen.sh
  configure.ac
  packaging/debian/changelog
  packaging/debian/compat
  packaging/debian/control
  packaging/debian/copyright
  packaging/debian/libingescape-dev.install
  packaging/debian/libingescape.install
  packaging/debian/rules
  packaging/debian/source/format
  packaging/redhat/libingescape.spec
  packaging/redhat/rpmmacros
  packaging/windows/ingescape-runtime.nsi
  packaging/windows/ingescape-sdk.nsi
  src/Makefile.am
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

remove yajl reference
  src/libingescape.pc.in
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

Fix YAJL dependency in editor
  builds/ingescape.pri
  editor/apps/IngeScape-Editor/CMakeLists.txt
  editor/apps/IngeScape-Editor/IngeScape-Editor.pro
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Add deployment of ingescape on windows
  .gitlab-ci.yml
Due: none

Try to fix path on windows to copy ingescape header
  .gitlab-ci.yml
Due: none

Fix copy ask for confirmation
  .gitlab-ci.yml
Due: none

add custom template and add lib folder to path
  CMakeLists.txt
  builds/cmake/modules/NSIS.InstallOptions.ini.in
  builds/cmake/modules/NSIS.template.in
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

add proper install path for DLLs
  builds/cmake/modules/IngescapeHelper.cmake
Due: none

solve config error in xocde project
  dependencies/yajl/yajl.xcodeproj/project.pbxproj
Due: none

adapt to latest packaging configuration
  doc/content/blog/first_full_agent.md
Due: none

add queries via zyre to get inputs and parameters values
  src/network.c
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

update resources path
  dependencies/yajl/yajl.xcodeproj/project.pbxproj
Due: none

Seconds for the begin date time for each record
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Send msg "Executed Action" to the recorder even when we click directly in the actions list or in the actions "palette"
  editor/apps/IngeScape-Editor/controller/scenariocontroller.cpp
  editor/apps/IngeScape-Editor/controller/scenariocontroller.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

print de messages
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/scenariocontroller.cpp
  editor/apps/IngeScape-Editor/model/enums.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Feedback on links do not takes account of the connection of the mapping (same feedback even if the mapping is disconnected)
  editor/apps/IngeScape-Editor/qml/agentsmapping/Link.qml
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Display UID of actions (with debug mode)
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/qml/agent/HistoryPanel.qml
  editor/apps/IngeScape-Editor/qml/scenario/ActionEditor.qml
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

install script for Debian 9 (stretch/stable)
  dependencies/unix/installDependencies.sh
Due: none

check presence of 0MQ repo to avoid duplicates
  dependencies/unix/installDependencies.sh
Due: none

comments
  dependencies/unix/install.sh
Due: none

Debian 10 (buster/testing) & CentOS 7
  dependencies/unix/install.sh
Due: none

cpack entries for DEB & RPM updated
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

Manage msg "Run this Action"
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.cpp
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Editor/controller/scenariocontroller.cpp
  editor/apps/IngeScape-Editor/controller/scenariocontroller.h
  editor/apps/IngeScape-Editor/model/scenario/actionm.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

add macos
  dependencies/unix/install.sh
Due: none

Add deploy for debug lib on windows
  .gitlab-ci.yml
Due: none

package name in install script updated after 'make package'
  .gitlab-ci.yml
  dependencies/unix/install.sh
Due: none

explicit CPack package file name (equals to default value)
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

install script for linux/osx handles command line arguments
  dependencies/unix/install.sh
Due: none

*NIX install script refactored. --force-git option added.
  dependencies/unix/install.sh
Due: none

fix macos package phase
  .gitlab-ci.yml
Due: none

publish site with proper account
  doc/publishSite.sh
Due: none

Update I2Quick for MAC (asked by Bob ;-)
  editor/frameworks/I2Quick/Mac/libI2Quick.dylib
  editor/frameworks/I2Quick/include/base/I2CustomItemHashModel.h
  editor/frameworks/I2Quick/include/base/I2CustomItemListModel.h
  editor/frameworks/I2Quick/include/base/I2CustomItemListSortFilterProxyModel.h
  editor/frameworks/I2Quick/include/base/I2DynamicTranslator.h
  editor/frameworks/I2Quick/include/base/I2EnumListModel.h
  editor/frameworks/I2Quick/include/base/I2MathUtils.h
  editor/frameworks/I2Quick/include/base/I2SignalUtils.h
  editor/frameworks/I2Quick/include/base/I2SortFilterProxyModel.h
  editor/frameworks/I2Quick/include/base/I2StringUtils.h
  editor/frameworks/I2Quick/include/base/I2Utils.h
  editor/frameworks/I2Quick/include/graphics/I2GraphicsHelpers.h
  editor/frameworks/I2Quick/include/graphics/I2SimpleSvgParser.h
  editor/frameworks/I2Quick/include/helpers/i2cpponlypropertyhelpers.h
  editor/frameworks/I2Quick/include/helpers/i2customobjectlistpropertyhelpers.h
  editor/frameworks/I2Quick/include/helpers/i2enumpropertyhelpers.h
  editor/frameworks/I2Quick/include/helpers/i2qmlpropertyhelpers.h
  editor/frameworks/I2Quick/include/helpers/i2snapshothelper.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86
