Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

lib-linux-release-x64:
  stage: build-lib
  tags:
  - docker
  image: ingescape/debian-with-zyre
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-x64
    expire_in: 1 week
  dependencies: []

lib-linux-release-armhf:
  stage: build-lib
  tags:
  - docker
  image: ingescape/ubuntu-x-compil-rpi
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=/toolchain.cmake
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-armhf
    expire_in: 1 week
  ...

lib-macos-release-x64:
  stage: build-lib
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-macos-release-x64
    expire_in: 1 week
  dependencies: []

editor-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Editor/build
  - cmake -S editor/apps/IngeScape-Editor/ -B editor/apps/IngeScape-Editor/build -DCMAKE_BUILD_TYPE=Release
  ...

assessments-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Assessments/build
  - cmake -S editor/apps/IngeScape-Assessments/ -B editor/apps/IngeScape-Assessments/build -DCMAKE_BUILD_TYPE=Release
  ...

lib-windows-release-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX64
  ...

lib-windows-release-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX86
  ...

lib-windows-debug-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX64
  ...

lib-windows-debug-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX86
  ...

lib-installer-runtime-macos-x64:
  stage: installer-lib
  tags:
  - osx
  script:
  - make -C build package
  - cp dependencies/unix/installIngescapeAndDependencies.sh build/installIngescapeAndDependencies.sh
  ...

Static factory method to create TaskM from DB record
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Deleting a task from DB also deletes its related independent variables
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Static factory method to create IndependentVarM from DB record
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fix typo
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Update platform file name at TaskM creation
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Wording and notifications about scenario/timeline State
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.cpp
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.h
  editor/apps/IngeScape-Common/model/enums.h
  editor/apps/IngeScape-Common/qml/timeline/ScenarioTimeLine.qml
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Message TIMELINE_STATE=...
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.cpp
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.h
  editor/apps/IngeScape-Common/controller/abstracttimeactionslinescenarioviewcontroller.h
  editor/apps/IngeScape-Common/model/enums.h
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/controller/networkcontroller.cpp
  editor/apps/IngeScape-Expe/controller/networkcontroller.h
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

add private access to details for each license file
  src/include/ingescape_private.h
  src/license.c
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

AssessmentsModelManager is a globally accessible singleton instance and is no longer a QML type
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.cpp
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.h
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.h
  editor/apps/IngeScape-Assessments/controller/record/recordcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/record/recordcontroller.h
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.h
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.h
  editor/apps/IngeScape-Assessments/main.cpp
  editor/apps/IngeScape-Assessments/qml/record/RecordSetupView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Custom setter in dependent variables to update the DB on modification
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

CQL script to create the Cassandra DB schema
  editor/apps/IngeScape-Assessments/data/cassandra/init_db.cql
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

ExperimentationM objects hold their group name
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
  editor/apps/IngeScape-Assessments/qml/IngeScapeAssessments.qml
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Current experimentation moved from modelAdvisor to experimentationController
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.cpp
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.h
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.cpp
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
  editor/apps/IngeScape-Assessments/qml/IngeScapeAssessments.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Apply button for dependent variables
  editor/apps/IngeScape-Assessments/qml/task/Task.qml
  editor/apps/IngeScape-Assessments/qml/task/VariableTextEditor.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Multiple IFs to oneliner boolean expression
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Insert dependent variable into DB
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.h
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Static factory method to create DependentVariableM from DB record
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/dependentvariablem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fix potential leak
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Update dependent variable model according to combobox selection
  editor/apps/IngeScape-Assessments/qml/task/Task.qml
  editor/apps/IngeScape-Assessments/qml/task/VariableComboBoxEditor.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Manage new messages about RECORD_STARTED/RECORD_STOPPED
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Move script to init Cassandra database
  editor/data/cassandra/init_db.cql
Due: none

.pri about cql exporter Deleted files IndependentVariableEnum.h/.cpp
  editor/apps/IngeScape-Assessments/IngeScape-Assessments.pro
  editor/dependencies/cqlExporter/cqlExporter.pri
  editor/dependencies/cqlExporter/cqlexporter.c
  editor/dependencies/cqlExporter/cqlexporter.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Export Controller and Export View
  editor/apps/IngeScape-Assessments/IngeScape-Assessments.pro
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.h
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.h
  editor/apps/IngeScape-Assessments/main.cpp
  editor/apps/IngeScape-Assessments/qml.qrc
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
  editor/apps/IngeScape-Assessments/qml/export/ExportView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

First try to export the data base
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

add creation of timeline table in database initialization script
  editor/data/cassandra/init_db.cql
Due: none

add proper concatenation of licenses and be robust to corrupted ones
  src/include/ingescape_private.h
  src/license.c
  src/network.c
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Add cassandra lib for windows.Add include path to call the cassandra.h from the dependencies folder.
  editor/apps/IngeScape-Assessments/IngeScape-Assessments.pro
  editor/dependencies/cqlExporter/cqlexporter.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Add include path for cqlexporter.h
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.cpp
  editor/dependencies/cqlExporter/cqlExporter.pri
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Implement a new function to test the export directly from the uuid id exp string without passing the GUI (for Patxi BERARD)
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Snippet to test the integration of the exporting code from the main.c. TOREMOVE : only for ESTIA you can remove it when you want
  editor/apps/IngeScape-Assessments/main.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Current platform name used to set a name to record
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/qml/IngeScapeEditor.qml
  editor/apps/IngeScape-Editor/qml/ModelVisualizer.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Renaming
  editor/dependencies/cqlExporter/cqlexporter.c
  editor/dependencies/cqlExporter/cqlexporter.h
Due: none

CQL command for initialization of the BDD for ESTIA
  editor/data/cassandra/command-initialization-ESTIA.sql
Due: none

setter for cass session
  editor/dependencies/cqlExporter/cqlexporter.c
Due: none

Modify the export function to set the cass session and get the uuid id experimentation from the AssessmentsModelManager.
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.cpp
  editor/dependencies/cqlExporter/cqlexporter.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Replace the callback on the button about Record: onClicked instead of onCheckedChanged (to prevent loop)
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.cpp
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Remove prefix for records Set the path for exports to: "[DocumentsLocation]/IngeScape/exports/"
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.h
  editor/apps/IngeScape-Common/misc/ingescapeutils.cpp
  editor/apps/IngeScape-Common/misc/ingescapeutils.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Deleting a task also deletes its dependent variables from the DB
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fix dependency to cqlexporter
  editor/apps/IngeScape-Assessments/CMakeLists.txt
  editor/apps/IngeScape-Assessments/IngeScape-Assessments.pro
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Path conditions:
  lib-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-windows-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-windows-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-macos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-linux-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-9-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-10-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-centos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-linux-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-raspbian-9-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-delivery-all: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  apps-delivery-all: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
