Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

lib-linux-release-x64:
  stage: build-lib
  tags:
  - docker
  image: ingescape/debian-with-zyre
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-x64
    expire_in: 1 week
  dependencies: []

lib-linux-release-armhf:
  stage: build-lib
  tags:
  - docker
  image: ingescape/ubuntu-x-compil-rpi
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=/toolchain.cmake
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-armhf
    expire_in: 1 week
  ...

lib-macos-release-x64:
  stage: build-lib
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-macos-release-x64
    expire_in: 1 week
  dependencies: []

editor-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Editor/build
  - cmake -S editor/apps/IngeScape-Editor/ -B editor/apps/IngeScape-Editor/build -DCMAKE_BUILD_TYPE=Release
  ...

assessments-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Assessments/build
  - cmake -S editor/apps/IngeScape-Assessments/ -B editor/apps/IngeScape-Assessments/build -DCMAKE_BUILD_TYPE=Release
  ...

lib-windows-release-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX64
  ...

lib-windows-release-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX86
  ...

lib-windows-debug-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX64
  ...

lib-windows-debug-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX86
  ...

lib-installer-runtime-macos-x64:
  stage: installer-lib
  tags:
  - osx
  script:
  - make -C build package
  - cp dependencies/unix/installIngescapeAndDependencies.sh build/installIngescapeAndDependencies.sh
  ...

Timeline: replace I2Line by DashedBar to increase performance (faster tesselation and fewer triangles to render)
  editor/apps/IngeScape-Common/qml/timeline/ScenarioTimeLine.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Performance: use removeRows() instead of calling takeAt N times => our list and its associated filters are refresh once instead of N times (N was equal to 401 !!!)
  editor/apps/IngeScape-Common/controller/ingescapemodelmanager.cpp
  editor/apps/IngeScape-Editor/qml/agent/HistoryPanel.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

historyPanel: avoid binding indirection (replace A => B => C by A => C)
  editor/apps/IngeScape-Editor/qml/agent/HistoryPanel.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Temporary for subject edition to handle rollbacks
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Removing old (commented) code
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Subject item in list view extracted into its own QML file
  editor/apps/IngeScape-Assessments/qml.qrc
  editor/apps/IngeScape-Assessments/qml/subject/Subject.qml
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Subejct edition button on mouse hovering
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Subject edition buttons logic in place
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Subject edition redering
  editor/apps/IngeScape-Assessments/qml/subject/Subject.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Only one edition at a time
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fill up text field and comboboxes for subject edition
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Mapping subject edition to model and DB editions
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

add detailed information for each license file only if at least one file is there
  src/license.c
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Fix QtQuick.Controls.Styles version in Subject.qml
  editor/apps/IngeScape-Assessments/qml/subject/Subject.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Button opacity instead of visibility
  editor/apps/IngeScape-Assessments/qml/subject/Characteristic.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Set subject ID as a characteristic value when creating a new subject
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Graphic integration of Expe app
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: none

Init subject at creation. Delete button actually deletes a subject in subject view
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/qml/subject/Characteristic.qml
  editor/apps/IngeScape-Assessments/qml/subject/Subject.qml
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Random without QRandomGenerator (available only since Qt 5.10)
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
Due: none

Update GitLab for Expe app
  .gitlab-ci.yml
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Forget to uncomment some lines about GitLab for Expe app
  .gitlab-ci.yml
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

To prevent user to drag while the timeline is playing (pause it first)
  editor/apps/IngeScape-Common/qml/timeline/ScenarioTimeLine.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Force our global mapping to CONTROLLED when Expe app ask to load a platform
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.cpp
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.h
  editor/apps/IngeScape-Common/qml/timeline/ScenarioTimeLine.qml
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Feedbacks record / no record
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: none

Add missing record's name column in record setup list
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Delete record setups from DB
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/model/recordsetupm.cpp
  editor/apps/IngeScape-Assessments/model/recordsetupm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

addNewAttachements method to a record_setup. Actual attachements not handled yet
  editor/apps/IngeScape-Assessments/controller/record/recordcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/record/recordcontroller.h
  editor/apps/IngeScape-Assessments/qml/IngeScapeAssessments.qml
  editor/apps/IngeScape-Assessments/qml/record/RecordSetupView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Expe name edit button with opacity instead of visibility
  editor/apps/IngeScape-Assessments/qml/experimentation/ExperimentationView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Main screen expe groups resize when an expe is deleted
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

[FIX] 'OPEN' and 'DEL' buttons have the right actions
  editor/apps/IngeScape-Assessments/qml/experimentation/RecordSetupInList.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fix 'NEW EXPERIMENT' button (popup now opens)
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Attachement rendering in view for test purposes (no persistence).
  editor/apps/IngeScape-Assessments/qml/record/RecordSetupView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

[FIX] Deleting experimentation acutally deletes the experimentation record itself from DB
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Main screen title
  editor/apps/IngeScape-Assessments/qml/ExperimentationsListView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Use same runner between build and install because cmake use absolute path and runner id is in path
  .gitlab-ci.yml
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Fix synthaxe
  .gitlab-ci.yml
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Correct the "resume timeline" that sent start_record to the editor if checkbox is checked
  editor/apps/IngeScape-Expe/IngeScape-Expe.pro
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
  editor/apps/IngeScape-Expe/qml/main.qml
Due: none

Disable the list of records while we record a new one Version 1.0
  editor/apps/IngeScape-Editor/IngeScape-Editor.pro
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

List of records Tests on performances of the timeline execution
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.cpp
  editor/apps/IngeScape-Common/controller/ingescapemodelmanager.cpp
  editor/apps/IngeScape-Common/viewModel/scenario/actionexecutionvm.cpp
  editor/apps/IngeScape-Editor/qml/agent/AgentsListItem.qml
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Path conditions:
  lib-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-windows-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-windows-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-macos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-linux-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-9-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-10-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-centos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-linux-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-raspbian-9-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-delivery-all: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  apps-delivery-all: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
