Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-release-x64, osx-release-x64, osx-editor-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, windows-editor-release-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-editor-osx-x64, installer-editor-windows-x86, installer-runtime-linux-x64

linux-release-x64:
  stage: ingescape-build
  tags:
  - docker
  image: fafesty/debian-with-zyre
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: linux-release-x64
    expire_in: 1 week

osx-release-x64:
  stage: ingescape-build
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: osx-release-x64
    expire_in: 1 week

osx-editor-release-x64:
  stage: editor-build
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Editor/build
  - cmake -S editor/apps/IngeScape-Editor/ -B editor/apps/IngeScape-Editor/build -DCMAKE_BUILD_TYPE=Release
  ...

windows-release-x64:
  stage: ingescape-build
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - git clean -xfd
  - mkdir build\ReleaseX64
  ...

windows-release-x86:
  stage: ingescape-build
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - git clean -xfd
  - mkdir build\ReleaseX86
  ...

windows-debug-x64:
  stage: ingescape-build
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - git clean -xfd
  - mkdir build\DebugX64
  ...

windows-debug-x86:
  stage: ingescape-build
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - git clean -xfd
  - mkdir build\DebugX86
  ...

windows-editor-release-x86:
  stage: editor-build
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
    Qt5_DIR: C:\\Users\\admin\\dev\\Qt\\5.9.7\\msvc2015\\lib\\cmake\\Qt5
  tags:
  - windows
  script:
  - git clean -xfd
  - mkdir editor\apps\IngeScape-Editor\build\ReleaseX86
  ...

installer-runtime-windows-x86:
  stage: ingescape-installer
  tags:
  - windows
  script:
  - cd build\ReleaseX86 && cpack --config CPackConfig.cmake && cd ..\..
  - cd build\ReleaseX86 && cpack --config CPackSourceConfig.cmake && cd ..\..
  artifacts:
    paths:
    - build\ReleaseX86\Ingescape-*.exe
    - build\ReleaseX86\Ingescape-*.zip
  ...

installer-runtime-windows-x64:
  stage: ingescape-installer
  tags:
  - windows
  script:
  - cd build\ReleaseX64 && cpack --config CPackConfig.cmake && cd ..\..
  - cd build\ReleaseX64 && cpack --config CPackSourceConfig.cmake && cd ..\..
  artifacts:
    paths:
    - build\ReleaseX64\Ingescape-*.exe
    - build\ReleaseX64\Ingescape-*.zip
  ...

installer-runtime-osx-x64:
  stage: ingescape-installer
  tags:
  - osx
  script:
  - make -C build package
  - make -C build package_source
  artifacts:
    paths:
    - build/Ingescape-*
  dependencies:
  - osx-release-x64

Correct bug: when a link is added on an agent OFF, when the agent is restarted (in mode observe) the link did not disappeared
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.cpp
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.h
  editor/apps/IngeScape-Editor/viewModel/agentinmappingvm.cpp
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

We open only the clicked definition (from the list of agents) even if there are variants of this definition
  editor/apps/IngeScape-Editor/controller/ingescapemodelmanager.cpp
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

QML: checkCancel not completely cleaned
  editor/apps/IngeScape-Editor/qml/popup/MappingModificationsPopup.qml
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

static cast to remove compilation warning and typo
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

We delete the 20% of the oldest values when we exceed the threshold (2 000 values)
  editor/apps/IngeScape-Editor/controller/ingescapemodelmanager.cpp
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Correct scroll of the list of agent names (in the history panel)
  editor/apps/IngeScape-Editor/qml/agent/DropDownCheckboxes.qml
  editor/apps/IngeScape-Editor/qml/agent/HistoryPanel.qml
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Listen agents outputs only when the mapping is (activated) connected
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapemodelmanager.cpp
  editor/apps/IngeScape-Editor/controller/ingescapemodelmanager.h
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Add deployment of ingescape library in osx and linux used to compile agents
  .gitlab-ci.yml
Due: none

Listen agents outputs only when the mapping is (activated) connected
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Manage duration of more than 24 hours (and to avoid the Qt 5.12 bug on QML that display a QTime)
  editor/apps/IngeScape-Editor/model/enums.h
  editor/apps/IngeScape-Editor/model/recordm.cpp
  editor/apps/IngeScape-Editor/model/recordm.h
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

content update and files cleaning
  doc/content/blog/first_full_agent.md
  doc/publishSite.sh
  doc/static/code/fetchAgentAndGenerateZipFile.sh
  doc/static/code/firstAgent.zip
  doc/static/code/firstFullAgent.zip
  doc/static/code/firstFullAgent/builds/cmake/Findczmq.cmake
  doc/static/code/firstFullAgent/builds/cmake/Findingescape.cmake
  doc/static/code/firstFullAgent/builds/macos/firstFullAgent.xcodeproj/project.pbxproj
  doc/static/code/firstFullAgent/builds/macos/firstFullAgent.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  doc/static/code/firstFullAgent/builds/macos/firstFullAgent.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  doc/static/code/firstFullAgent/builds/qt/firstFullAgent.pro
  doc/static/code/firstFullAgent/builds/windows/dependencies/getopt.h
  doc/static/code/firstFullAgent/builds/windows/project/firstFullAgent.sln
  doc/static/code/firstFullAgent/builds/windows/project/firstFullAgent.vcxproj
  doc/static/code/firstFullAgent/builds/windows/project/firstFullAgent.vcxproj.filters
  doc/static/code/firstFullAgent/src/CMakeLists.txt
  doc/static/code/firstFullAgent/src/main.c
Due: none

remove library versions
  builds/ingescape.xcodeproj/project.pbxproj
Due: none

update version
  src/admin.c
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

clean headers
  src/include/ingescape.h
  src/include/ingescape_advanced.h
  src/include/ingescape_private.h
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

ignore files
  doc/static/code/fetchAgentAndGenerateZipFile.sh
Due: none

new packaging routines
  CMakeLists.txt
  src/libingescape.pc.in
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

clean and make consistent with the new packaging reference
  .gitlab-ci.yml
Due: none

disable sources generation for macos and linux
  .gitlab-ci.yml
Due: none

IngeScape Common: common parts for Qt HMI (Editor and Measuring)
  editor/apps/IngeScape-Common/IngeScape-Common.pri
  editor/apps/IngeScape-Common/IngeScape-Common.pro
  editor/apps/IngeScape-Common/ingescape-common_global.h
  editor/apps/IngeScape-Common/ingescapecommon.cpp
  editor/apps/IngeScape-Common/ingescapecommon.h
  editor/apps/IngeScape-Common/misc/ingescapeutils.cpp
  editor/apps/IngeScape-Common/misc/ingescapeutils.h
  editor/apps/IngeScape-Common/misc/terminationsignalwatcher.cpp
  editor/apps/IngeScape-Common/misc/terminationsignalwatcher.h
  editor/apps/IngeScape-Common/settings/ingescapesettings.cpp
  editor/apps/IngeScape-Common/settings/ingescapesettings.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Editor use the library Common
  editor/apps/IngeScape-Editor/IngeScape-Editor.pro
  editor/apps/IngeScape-Editor/controller/actioneditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/scenariocontroller.cpp
  editor/apps/IngeScape-Editor/main.cpp
  editor/apps/IngeScape-Editor/model/jsonhelper.cpp
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

now self generated from git repo
  doc/static/code/firstFullAgent.zip
Due: none

remove git hidden files with creating zip
  doc/static/code/fetchAgentAndGenerateZipFile.sh
Due: none

add license file use ingescape as lower case everywhere
  .gitlab-ci.yml
  CMakeLists.txt
  LICENSE
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

copy dlls to lib and not bin
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

IngeScape Measuring (with basic elements) Use the library IngeScape Common
  editor/apps/IngeScape-Measuring/IngeScape-Measuring.pro
  editor/apps/IngeScape-Measuring/controller/ingescapemeasuringcontroller.cpp
  editor/apps/IngeScape-Measuring/controller/ingescapemeasuringcontroller.h
  editor/apps/IngeScape-Measuring/controller/ingescapemodelmanager.cpp
  editor/apps/IngeScape-Measuring/controller/ingescapemodelmanager.h
  editor/apps/IngeScape-Measuring/controller/networkcontroller.cpp
  editor/apps/IngeScape-Measuring/controller/networkcontroller.h
  editor/apps/IngeScape-Measuring/icon_IGS.icns
  editor/apps/IngeScape-Measuring/icon_IGS.ico
  editor/apps/IngeScape-Measuring/main.cpp
  editor/apps/IngeScape-Measuring/qml.qrc
  editor/apps/IngeScape-Measuring/qml/IngeScapeMeasuring.qml
  editor/apps/IngeScape-Measuring/qml/LoadingScreen.qml
  editor/apps/IngeScape-Measuring/qml/main.qml
  editor/apps/IngeScape-Measuring/qml/theme/IngeScapeTheme.qml
  editor/apps/IngeScape-Measuring/resources/fonts/akrobat/Akrobat-Black.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/akrobat/Akrobat-Bold.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/akrobat/Akrobat-ExtraBold.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/akrobat/Akrobat-ExtraLight.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/akrobat/Akrobat-Light.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/akrobat/Akrobat-SemiBold.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/akrobat/Akrobat-Thin.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/akrobat/Akrobat.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/blogger-sans/Blogger_Sans-Bold.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/blogger-sans/Blogger_Sans-Bold_Italic.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/blogger-sans/Blogger_Sans-Italic.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/blogger-sans/Blogger_Sans-Light.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/blogger-sans/Blogger_Sans-Light_Italic.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/blogger-sans/Blogger_Sans-Medium.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/blogger-sans/Blogger_Sans-Medium_Italic.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/blogger-sans/Blogger_Sans.ttf
  editor/apps/IngeScape-Measuring/resources/fonts/titillium/Titillium-Regular.otf
  editor/apps/IngeScape-Measuring/settings/IngeScape-Measuring.ini
  editor/apps/IngeScape-Measuring/stable.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Editor use the library Common
  editor/apps/IngeScape-Editor/IngeScape-Editor.pro
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/logstreamcontroller.h
  editor/apps/IngeScape-Editor/main.cpp
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

moving dependency libs from bin to lib
  builds/cmake/modules/IngescapeHelper.cmake
Due: none

new packaging configuration
  .gitignore
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

update packaging modules
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

add environment variables for windows
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

Export zyre agents property in windows dll
  src/include/ingescape_private.h
  src/network.c
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

solve typo in uninstall section + add for all users
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

create lib installers before compiling editor
  .gitlab-ci.yml
Due: none

Export ingescape private function for igs recorder
  src/include/ingescape_private.h
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

disable uninstall action
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

reenable uninstall action
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

switch back to bin for DLLs (one day, we'll stop using nsis just for that)
  CMakeLists.txt
  builds/cmake/modules/IngescapeHelper.cmake
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

typo
  CMakeLists.txt
Due: linux-release-x64, osx-release-x64, windows-release-x64, windows-release-x86, windows-debug-x64, windows-debug-x86, installer-runtime-windows-x86, installer-runtime-windows-x64, installer-runtime-osx-x64, installer-runtime-linux-x64

Update cmake for editor to add common files
  builds/cmake/modules/IngescapeEditorHelper.cmake
  editor/apps/IngeScape-Editor/CMakeLists.txt
  editor/apps/IngeScape-Editor/misc/gstvideoreceiver.cpp
  editor/apps/IngeScape-Editor/misc/gstvideoreceiver.h
Due: osx-editor-release-x64, windows-editor-release-x86, installer-editor-osx-x64, installer-editor-windows-x86

Path conditions:
  linux-release-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  osx-release-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  osx-editor-release-x64: any of: editor/**/*
  windows-release-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  windows-release-x86: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  windows-debug-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  windows-debug-x86: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  windows-editor-release-x86: any of: editor/**/*
  installer-runtime-windows-x86: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  installer-runtime-windows-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  installer-runtime-osx-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
  installer-editor-osx-x64: any of: editor/**/*
  installer-editor-windows-x86: any of: editor/**/*
  installer-runtime-linux-x64: any of: src/**/*, autogen.sh, configure.ac, Makefile.am, CMakeLists.txt, build/cmake/**/*
