Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

lib-linux-release-x64:
  stage: build-lib
  tags:
  - docker
  image: ingescape/debian-with-zyre
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-x64
    expire_in: 1 week
  dependencies: []

lib-linux-release-armhf:
  stage: build-lib
  tags:
  - docker
  image: ingescape/ubuntu-x-compil-rpi
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=/toolchain.cmake
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-armhf
    expire_in: 1 week
  ...

lib-macos-release-x64:
  stage: build-lib
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-macos-release-x64
    expire_in: 1 week
  dependencies: []

editor-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Editor/build
  - cmake -S editor/apps/IngeScape-Editor/ -B editor/apps/IngeScape-Editor/build -DCMAKE_BUILD_TYPE=Release
  ...

assessments-macos-release-x64:
  stage: build-apps
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Assessments/build
  - cmake -S editor/apps/IngeScape-Assessments/ -B editor/apps/IngeScape-Assessments/build -DCMAKE_BUILD_TYPE=Release
  ...

lib-windows-release-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX64
  ...

lib-windows-release-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Release\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\ReleaseX86
  ...

lib-windows-debug-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x64;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX64
  ...

lib-windows-debug-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - set PATH=%PATH%;C:\Users\admin\dev\Builds\Debug\x86;C:\Users\admin\dev\Builds
  - git clean -xfd
  - mkdir build\DebugX86
  ...

lib-installer-runtime-macos-x64:
  stage: installer-lib
  tags:
  - osx
  script:
  - make -C build package
  - cp dependencies/unix/installIngescapeAndDependencies.sh build/installIngescapeAndDependencies.sh
  ...

[WIP] Fix task retrieval when loading an experimentaiton
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

CQL exporter do not use precompiled headers anymore
  editor/apps/IngeScape-Assessments/CMakeLists.txt
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Confirmation popup for stop Feedback for recorder ON/OFF
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
  editor/apps/IngeScape-Expe/controller/expemodelmanager.h
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
Due: none

Setting the current experimentation to nullptr unloads any loaded data
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Update HMI of expe Rename signals/slots about replay
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
  editor/apps/IngeScape-Expe/model/platformm.cpp
  editor/apps/IngeScape-Expe/model/platformm.h
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
  editor/apps/IngeScape-Expe/qml/LoadedPlatform.qml
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Update command line path with setCommandLineFromArgs
  src/network.c
Due: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

[NOTE] Another possible oneliner
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

QQmlPropertyMap added as a QML type to remove a QML warning
  editor/apps/IngeScape-Assessments/main.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Create new characteristic from GUI
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Insert subjects into DB
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.h
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Insert characteristics into DB
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Comments
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Characteristic values added for each subject into DB
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.h
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Column name changed in subject 'name' -> 'displayed_id'
  editor/data/cassandra/init_db.cql
Due: none

Insert record_setup into DB
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/recordsetupm.cpp
  editor/apps/IngeScape-Assessments/model/recordsetupm.h
  editor/data/cassandra/init_db.cql
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Add characteristic_value_of_subject to the DB init script
  editor/data/cassandra/init_db.cql
Due: none

Static factory method to create SubjectM from DB record
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Feedbacks NOT_RECORDED, RECORDING, RECORDED
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/main.cpp
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Component for platform and agent
  editor/apps/IngeScape-Expe/qml/LoadedPlatform.qml
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: none

Update scripts to initialize the Cassandra BDD with "id_records"
  editor/data/cassandra/command-initialization-ESTIA.sql
  editor/data/cassandra/init_db.cql
Due: none

displayed id of subject
  editor/apps/IngeScape-Assessments/qml/experimentation/RecordSetupInList.qml
  editor/apps/IngeScape-Assessments/qml/popup/CreateRecordPopup.qml
  editor/apps/IngeScape-Assessments/qml/record/RecordSetupView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Add "id_records" in request insert for table record_setup
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Load characteristics, subjects and the characteristic values for those subjects
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Remove some qDebug(). Replace subject.name --> subject.displayedId in QML
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/qml/subject/SubjectsView.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

displayed_id instead of name
  editor/dependencies/cqlExporter/cqlexporter.c
Due: none

useless test export
  editor/apps/IngeScape-Assessments/main.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

displayed_id instead of name
  editor/data/cassandra/command-initialization-ESTIA.sql
Due: none

To test the export, we have to set the id_records hard-coded
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

print ids about request on subject id
  editor/dependencies/cqlExporter/cqlexporter.c
Due: none

Correction of bug: invert id of expe and subject
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Insert independent_var_value_of_record_setup into DB
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/model/recordsetupm.h
  editor/apps/IngeScape-Assessments/qml/popup/CreateRecordPopup.qml
  editor/data/cassandra/init_db.cql
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Static factory method to create RecordSetupM from DB record
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.h
  editor/apps/IngeScape-Assessments/model/recordsetupm.cpp
  editor/apps/IngeScape-Assessments/model/recordsetupm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Setting UUID as QString in TaskM constructor
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Setting the subject and task when retrieving record_setup from DB
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Utility method to convert CassUuid to QString
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.cpp
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/export/exportcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/recordsetupm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fix cleanup experimentation's characteristics
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Delete characteristics and subjects from DB
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Delete on cascade of characteristic values associated with a subject
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Delete on cascade of characteristic values associated with a characteristic
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Filtrage des agents qui ne font pas partie de la plateforme
  editor/apps/IngeScape-Expe/IngeScape-Expe.pro
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
  editor/apps/IngeScape-Expe/controller/expemodelmanager.h
  editor/apps/IngeScape-Expe/main.cpp
  editor/apps/IngeScape-Expe/model/platformm.cpp
  editor/apps/IngeScape-Expe/model/platformm.h
  editor/apps/IngeScape-Expe/qml/LoadedPlatform.qml
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
  editor/apps/IngeScape-Expe/sortFilter/platformagentsortfilter.cpp
  editor/apps/IngeScape-Expe/sortFilter/platformagentsortfilter.h
Due: none

Path conditions:
  lib-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-windows-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-windows-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-macos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-linux-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-9-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-10-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-centos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-linux-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-raspbian-9-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-delivery-all: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  apps-delivery-all: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
