Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lib-linux-release-x64, lib-linux-release-armhf, lib-macos-release-x64, editor-macos-release-x64, assessments-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, lib-installer-runtime-linux-x64, lib-installer-runtime-debian-9-x64, lib-installer-runtime-debian-10-x64, lib-installer-runtime-centos-x64, lib-installer-runtime-linux-armhf, lib-installer-runtime-raspbian-9-armhf, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64, lib-deploy-linux-release-armhf, lib-deploy-windows-release-x64, lib-deploy-windows-release-x86, lib-deploy-windows-debug-x64, lib-deploy-windows-debug-x86, lib-delivery-all, apps-delivery-all

Path conditions:
  lib-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-windows-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-windows-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-macos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  editor-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  editor-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Editor/**/*
  assessments-installer-macos-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x86: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  assessments-installer-windows-x64: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*
  lib-installer-runtime-linux-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-9-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-debian-10-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-centos-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-linux-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-installer-runtime-raspbian-9-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-macos-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-linux-release-armhf: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-release-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x64: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-deploy-windows-debug-x86: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  lib-delivery-all: any of: .gitlab-ci.yml, src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*
  apps-delivery-all: any of: .gitlab-ci.yml, src/**/*, builds/cmake/**/*, dependencies/yajl/**/*, dependencies/unix/*, dependencies/windows/unix/*, editor/frameworks/**/*, editor/apps/IngeScape-Common/**/*, editor/apps/IngeScape-Assessments/**/*

Changes to handle the replay (Pause, Resume, Stop, ...)
  editor/apps/IngeScape-Common/model/enums.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
  editor/apps/IngeScape-Editor/main.cpp
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Changes to handle the replay (Pause, Resume, Stop, ...)
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Unload current record (Message "STOP_REPLAY")
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Manage the reception of the network message "Load Platform (File) from path"
  editor/apps/IngeScape-Common/model/enums.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

First files for Expe app
  editor/apps/IngeScape-Expe/.gitignore
  editor/apps/IngeScape-Expe/IngeScape-Expe.pro
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
  editor/apps/IngeScape-Expe/controller/expemodelmanager.h
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/controller/networkcontroller.cpp
  editor/apps/IngeScape-Expe/controller/networkcontroller.h
  editor/apps/IngeScape-Expe/icon_IGS.icns
  editor/apps/IngeScape-Expe/icon_IGS.ico
  editor/apps/IngeScape-Expe/main.cpp
  editor/apps/IngeScape-Expe/qml.qrc
  editor/apps/IngeScape-Expe/qml/HomeForm.ui.qml
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
  editor/apps/IngeScape-Expe/qml/LoadingScreen.qml
  editor/apps/IngeScape-Expe/qml/Page1Form.ui.qml
  editor/apps/IngeScape-Expe/qml/Page2Form.ui.qml
  editor/apps/IngeScape-Expe/qml/main.qml
  editor/apps/IngeScape-Expe/qml/theme/IngeScapeExpeTheme.qml
  editor/apps/IngeScape-Expe/settings/IngeScape-Expe.ini
  editor/apps/IngeScape-Expe/stable.h
Due: none

Useless header files
  editor/apps/IngeScape-Assessments/IngeScape-Assessments.pro
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/networkcontroller.cpp
  editor/apps/IngeScape-Common/qml/theme/IngeScapeTheme.qml
  editor/apps/IngeScape-Editor/IngeScape-Editor.pro
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/uthash/libut.h
  editor/apps/IngeScape-Editor/uthash/ringbuf.h
  editor/apps/IngeScape-Editor/uthash/utarray.h
  editor/apps/IngeScape-Editor/uthash/uthash.h
  editor/apps/IngeScape-Editor/uthash/utlist.h
  editor/apps/IngeScape-Editor/uthash/utmm.h
  editor/apps/IngeScape-Editor/uthash/utringbuffer.h
  editor/apps/IngeScape-Editor/uthash/utstring.h
  editor/apps/IngeScape-Editor/uthash/utvector.h
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

List platforms in a directory
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.h
  editor/apps/IngeScape-Assessments/qml/popup/CreateTaskPopup.qml
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Command the loading of a platform from the Expe app
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.h
  editor/apps/IngeScape-Assessments/controller/networkcontroller.cpp
  editor/apps/IngeScape-Common/model/enums.h
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/controller/networkcontroller.cpp
  editor/apps/IngeScape-Expe/controller/networkcontroller.h
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Add missing "clearCurrentPlatform" before load a new one
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Temporary graphism for records elements in list during replay
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Send a reply to the Expe app when finished to load a platform
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/controller/networkcontroller.cpp
  editor/apps/IngeScape-Expe/controller/networkcontroller.h
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

STOP REPLAY and UNLOAD REPLAY
  editor/apps/IngeScape-Common/model/enums.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Model of platform
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
  editor/apps/IngeScape-Editor/model/recordm.h
  editor/apps/IngeScape-Editor/viewModel/recordvm.cpp
  editor/apps/IngeScape-Editor/viewModel/recordvm.h
  editor/apps/IngeScape-Expe/IngeScape-Expe.pro
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
  editor/apps/IngeScape-Expe/controller/expemodelmanager.h
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/main.cpp
  editor/apps/IngeScape-Expe/model/platformm.cpp
  editor/apps/IngeScape-Expe/model/platformm.h
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Feedback on the loaded platform
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
Due: none

View
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
  editor/apps/IngeScape-Expe/controller/expemodelmanager.h
  editor/apps/IngeScape-Expe/qml.qrc
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
  editor/apps/IngeScape-Expe/qml/LoadedPlatform.qml
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
  editor/apps/IngeScape-Expe/qml/ui/HomeForm.ui.qml
  editor/apps/IngeScape-Expe/qml/ui/Page1Form.ui.qml
  editor/apps/IngeScape-Expe/qml/ui/Page2Form.ui.qml
Due: none

List of agents presents in the loaded platform
  editor/apps/IngeScape-Common/controller/ingescapemodelmanager.cpp
  editor/apps/IngeScape-Common/controller/ingescapemodelmanager.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
  editor/apps/IngeScape-Expe/qml/LoadedPlatform.qml
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Factorisation of Network Controller (with mother class IngeScapeNetworkController)
  editor/apps/IngeScape-Assessments/main.cpp
  editor/apps/IngeScape-Common/IngeScape-Common.pri
  editor/apps/IngeScape-Common/controller/ingescapemodelmanager.cpp
  editor/apps/IngeScape-Common/controller/ingescapemodelmanager.h
  editor/apps/IngeScape-Common/controller/ingescapenetworkcontroller.cpp
  editor/apps/IngeScape-Common/controller/ingescapenetworkcontroller.h
  editor/apps/IngeScape-Common/misc/ingescapeutils.h
  editor/apps/IngeScape-Common/model/agent/agentm.h
  editor/apps/IngeScape-Common/viewModel/agentsgroupedbydefinitionvm.h
  editor/apps/IngeScape-Editor/controller/agentsmappingcontroller.h
  editor/apps/IngeScape-Editor/controller/agentssupervisioncontroller.h
  editor/apps/IngeScape-Editor/controller/hostssupervisioncontroller.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Expe/controller/networkcontroller.cpp
  editor/apps/IngeScape-Expe/controller/networkcontroller.h
  editor/apps/IngeScape-Expe/main.cpp
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Feedback on agents ON/OFF for expe
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/networkcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/networkcontroller.h
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/networkcontroller.cpp
  editor/apps/IngeScape-Expe/controller/networkcontroller.h
  editor/apps/IngeScape-Expe/qml/LoadedPlatform.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Debug with number of each type of IngeScape app ON
  editor/apps/IngeScape-Assessments/controller/networkcontroller.cpp
  editor/apps/IngeScape-Common/controller/ingescapenetworkcontroller.cpp
  editor/apps/IngeScape-Common/controller/ingescapenetworkcontroller.h
  editor/apps/IngeScape-Common/ingescapecommon.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/qml/ModelVisualizer.qml
  editor/apps/IngeScape-Expe/controller/networkcontroller.cpp
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Start to manage characteristics with cassandra data base
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.h
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Random and alphabetical order for platforms list
  editor/apps/IngeScape-Assessments/controller/assessmentsmodelmanager.h
  editor/apps/IngeScape-Expe/controller/expemodelmanager.cpp
  editor/apps/IngeScape-Expe/controller/expemodelmanager.h
  editor/apps/IngeScape-Expe/model/platformm.cpp
  editor/apps/IngeScape-Expe/model/platformm.h
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Animation when platforms order change
  editor/apps/IngeScape-Expe/qml/PlatformsList.qml
Due: none

Start to update the state of the editor's timeline from the Expe app
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.cpp
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.h
  editor/apps/IngeScape-Common/model/enums.h
  editor/apps/IngeScape-Common/qml/timeline/ScenarioTimeLine.qml
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Update the state of the editor's timeline from the Expe app (Play/Pause/Stop)
  editor/apps/IngeScape-Common/controller/abstractscenariocontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Update the state of the record via the editor from the Expe app (Start Record / Stop Record)
  editor/apps/IngeScape-Common/model/enums.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.h
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/networkcontroller.h
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.cpp
  editor/apps/IngeScape-Expe/controller/ingescapeexpecontroller.h
  editor/apps/IngeScape-Expe/qml/IngeScapeExpe.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Following to manage characteristics with cassandra data base
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/recordsetupm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
  editor/apps/IngeScape-Assessments/qml/subject/Characteristic.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Create model (of characteristic) from data base only if needed
  editor/apps/IngeScape-Assessments/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.cpp
  editor/apps/IngeScape-Assessments/model/subject/characteristicm.h
  editor/apps/IngeScape-Assessments/model/subject/subjectm.cpp
  editor/apps/IngeScape-Assessments/model/subject/subjectm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Graphism and interaction of record/replay items in list
  editor/apps/IngeScape-Common/igs_common_qml.qrc
  editor/apps/IngeScape-Common/ingescapecommon.cpp
  editor/apps/IngeScape-Common/qml/ConfirmationPopup.qml
  editor/apps/IngeScape-Editor/controller/networkcontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
  editor/apps/IngeScape-Editor/qml/agent/AgentsListItem.qml
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
Due: editor-macos-release-x64, assessments-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Useless file (replaced by generic ConfirmPopup.qml)
  editor/apps/IngeScape-Editor/qml.qrc
  editor/apps/IngeScape-Editor/qml/DeleteConfirmationPopup.qml
  editor/apps/IngeScape-Editor/qml/agent/AgentsList.qml
  editor/apps/IngeScape-Editor/qml/scenario/ActionEditor.qml
  editor/apps/IngeScape-Editor/qml/scenario/ActionsList.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-windows-release-x64, editor-installer-macos-x64, editor-installer-windows-x86, editor-installer-windows-x64

Wording qml column
  editor/apps/IngeScape-Assessments/qml/task/Task.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

ModelManager passed to the TasksController
  editor/apps/IngeScape-Assessments/controller/ingescapeassessmentscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Read tasks from DB
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Insert task into DB
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.h
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Delete task from DB
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/model/task/taskm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Insert independant variables in DB. Removed independentvariableenumm.cpp/h
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.h
  editor/apps/IngeScape-Assessments/model/task/independentvariableenumm.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariableenumm.h
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.h
  editor/apps/IngeScape-Assessments/model/task/taskm.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Delete an independent variable from DB
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Assessments/model/task/independentvariablem.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Read independent variables from DB
  editor/apps/IngeScape-Assessments/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Assessments/controller/task/taskscontroller.cpp
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Fix warning about enums independent variables in QML
  editor/apps/IngeScape-Assessments/qml/task/Task.qml
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all

Static factory method to create ExperimentationM from DB record
  editor/apps/IngeScape-Assessments/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.cpp
  editor/apps/IngeScape-Assessments/model/experimentationm.h
Due: assessments-macos-release-x64, assessments-windows-release-x86, assessments-windows-release-x64, assessments-installer-macos-x64, assessments-installer-windows-x86, assessments-installer-windows-x64, apps-delivery-all
