Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lib-linux-release-x64, lib-macos-release-x64, editor-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

Path conditions:
  lib-linux-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-macos-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  editor-macos-release-x64: any of: editor/**/*
  lib-windows-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-windows-release-x86: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-windows-debug-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-windows-debug-x86: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  editor-windows-release-x86: any of: editor/**/*
  lib-installer-runtime-windows-x86: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-installer-runtime-windows-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-installer-runtime-macos-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  editor-installer-macos-x64: any of: editor/**/*
  editor-installer-windows-x86: any of: editor/**/*
  lib-installer-runtime-linux-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-deploy-macos-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-deploy-linux-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*

Ingescape editor, main.cpp use version from .pro like cmake
  builds/cmake/modules/IngescapeEditorHelper.cmake
  editor/apps/IngeScape-Editor/CMakeLists.txt
  editor/apps/IngeScape-Editor/IngeScape-Editor.pro
  editor/apps/IngeScape-Editor/main.cpp
Due: lib-linux-release-x64, lib-macos-release-x64, editor-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

Fix version for editor
  editor/apps/IngeScape-Editor/CMakeLists.txt
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

Fix yajl dependency in gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Try to simplify git lab job on windows
  .gitlab-ci.yml
Due: none

Add gitlab job to compile editor in 64 bit
  .gitlab-ci.yml
  editor/apps/IngeScape-Editor/CMakeLists.txt
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

Try to fix sodium dependency
  builds/cmake/dependencies/Findlibsodium.cmake
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

Try to fix build on gitlab
  .gitlab-ci.yml
  builds/cmake/dependencies/Findlibsodium.cmake
  builds/cmake/dependencies/Findlibzmq.cmake
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

Try to fix condition when gitlab launch build tasks
  .gitlab-ci.yml
  dependencies/yajl/yajl_tree.c ligne 434  - yaj.textClipping
Due: none

Fix Qt version for editor in 64bits
  .gitlab-ci.yml
Due: none

Fix path to create editor installer in 64 bit for windows
  .gitlab-ci.yml
Due: none

Update I2Quick on mac os to remove last warnings
  editor/frameworks/I2Quick/Mac/libI2Quick.dylib
  editor/frameworks/I2Quick/include/graphics/I2Events.h
  editor/frameworks/I2Quick/include/graphics/I2VectorShapeItem.h
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

Force gitlab jobs to not use previous artifacts if not needed
  .gitlab-ci.yml
Due: none

armhf compilation added to .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

I2 Quick compiled with Qt 5.9.7 (to allow users on MAC with version older than 5.12.1 to start the editor)
  editor/frameworks/I2Quick/Mac/libI2Quick.dylib
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

Sub controllers for measuring app
  editor/apps/IngeScape-Measuring/IngeScape-Measuring.pro
  editor/apps/IngeScape-Measuring/controller/experimentationcontroller.cpp
  editor/apps/IngeScape-Measuring/controller/experimentationcontroller.h
  editor/apps/IngeScape-Measuring/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Measuring/controller/experimentationslistcontroller.h
  editor/apps/IngeScape-Measuring/controller/ingescapemeasuringcontroller.cpp
  editor/apps/IngeScape-Measuring/controller/ingescapemeasuringcontroller.h
  editor/apps/IngeScape-Measuring/controller/ingescapemodelmanager.cpp
  editor/apps/IngeScape-Measuring/controller/record/recordcontroller.cpp
  editor/apps/IngeScape-Measuring/controller/record/recordcontroller.h
  editor/apps/IngeScape-Measuring/controller/subject/subjectscontroller.cpp
  editor/apps/IngeScape-Measuring/controller/subject/subjectscontroller.h
  editor/apps/IngeScape-Measuring/controller/task/taskscontroller.cpp
  editor/apps/IngeScape-Measuring/controller/task/taskscontroller.h
  editor/apps/IngeScape-Measuring/main.cpp
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

VM of group of expes
  editor/apps/IngeScape-Measuring/IngeScape-Measuring.pro
  editor/apps/IngeScape-Measuring/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Measuring/controller/experimentationslistcontroller.h
  editor/apps/IngeScape-Measuring/main.cpp
  editor/apps/IngeScape-Measuring/viewModel/experimentationsgroupvm.cpp
  editor/apps/IngeScape-Measuring/viewModel/experimentationsgroupvm.h
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

First screens (QML)
  editor/apps/IngeScape-Measuring/model/experimentationm.cpp
  editor/apps/IngeScape-Measuring/model/experimentationm.h
  editor/apps/IngeScape-Measuring/qml.qrc
  editor/apps/IngeScape-Measuring/qml/ExperimentationView.qml
  editor/apps/IngeScape-Measuring/qml/ExperimentationsListView.qml
  editor/apps/IngeScape-Measuring/qml/IngeScapeMeasuring.qml
  editor/apps/IngeScape-Measuring/qml/subject/SubjectsView.qml
  editor/apps/IngeScape-Measuring/qml/task/TasksView.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

Screen experimentations groups list
  editor/apps/IngeScape-Measuring/controller/experimentationslistcontroller.cpp
  editor/apps/IngeScape-Measuring/controller/ingescapemodelmanager.cpp
  editor/apps/IngeScape-Measuring/controller/ingescapemodelmanager.h
  editor/apps/IngeScape-Measuring/qml/ExperimentationsListView.qml
  editor/apps/IngeScape-Measuring/qml/IngeScapeMeasuring.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

change armhf docker image in gitlab CI to use the one from our docker project
  .gitlab-ci.yml
Due: none

New --jobs arg in install script
  dependencies/unix/install.sh
Due: none

arg --only-deps renamed to --deps-only
  dependencies/unix/install.sh
Due: none

fix package naming for CMake
  CMakeLists.txt
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

Revert "explicit CPack package file name (equals to default value)"
  CMakeLists.txt
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

--no-deps arg to avoid installing dependencies & ZIP installation
  dependencies/unix/install.sh
Due: none

--verbose arg added to install.sh script
  dependencies/unix/install.sh
Due: none

_clone_and_build method added to install.sh
  dependencies/unix/install.sh
Due: none

ask before overwritting dependency directories
  dependencies/unix/install.sh
Due: none

--force-erase arg & check opt method added to install.sh
  dependencies/unix/install.sh
Due: none

dependencies/unix/* added to .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix --force-erase
  dependencies/unix/install.sh
Due: none

fix armhf installation & build dependency installation
  dependencies/unix/install.sh
Due: none

Update uninstall.exe to uninstall ingescape.exe
  builds/cmake/modules/NSIS.template.in
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

Add bin in PATH for windows installer
  builds/cmake/modules/NSIS.template.in
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

install raspbian deps & cleaner install script
  dependencies/unix/install.sh
Due: none

add printf info to unix install script
  dependencies/unix/install.sh
Due: none

preparing for windows
  builds/ingescape.pri
Due: none
