Repository zeromq/ingescape: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lib-linux-release-x64, lib-macos-release-x64, editor-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

lib-linux-release-x64:
  stage: build-lib
  tags:
  - docker
  image: fafesty/debian-with-zyre
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-linux-release-x64
    expire_in: 1 week

lib-macos-release-x64:
  stage: build-lib
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir build
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
  - make -C build
  artifacts:
    paths:
    - build
    name: lib-macos-release-x64
    expire_in: 1 week

editor-macos-release-x64:
  stage: build-editor
  variables:
    Qt5_DIR: ~/Qt/5.9.7/clang_64/lib/cmake/Qt5
  tags:
  - osx
  script:
  - git clean -xfd
  - mkdir editor/apps/IngeScape-Editor/build
  - cmake -S editor/apps/IngeScape-Editor/ -B editor/apps/IngeScape-Editor/build -DCMAKE_BUILD_TYPE=Release
  ...

lib-windows-release-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - git clean -xfd
  - mkdir build\ReleaseX64
  ...

lib-windows-release-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - git clean -xfd
  - mkdir build\ReleaseX86
  ...

lib-windows-debug-x64:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - git clean -xfd
  - mkdir build\DebugX64
  ...

lib-windows-debug-x86:
  stage: build-lib
  tags:
  - windows
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
  script:
  - git clean -xfd
  - mkdir build\DebugX86
  ...

editor-windows-release-x86:
  stage: build-editor
  variables:
    DEPENDENCIES_BUILDS_ROOT: C:\Users\admin\dev\Builds
    Qt5_DIR: C:\\Users\\admin\\dev\\Qt\\5.9.7\\msvc2015\\lib\\cmake\\Qt5
  tags:
  - windows
  script:
  - git clean -xfd
  - mkdir editor\apps\IngeScape-Editor\build\ReleaseX86
  ...

lib-installer-runtime-windows-x86:
  stage: installer-lib
  tags:
  - windows
  script:
  - cd build\ReleaseX86 && cpack --config CPackConfig.cmake && cd ..\..
  - cd build\ReleaseX86 && cpack --config CPackSourceConfig.cmake && cd ..\..
  artifacts:
    paths:
    - build\ReleaseX86\ingescape-*.exe
    - build\ReleaseX86\ingescape-*.zip
  dependencies:
  ...

lib-installer-runtime-windows-x64:
  stage: installer-lib
  tags:
  - windows
  script:
  - cd build\ReleaseX64 && cpack --config CPackConfig.cmake && cd ..\..
  - cd build\ReleaseX64 && cpack --config CPackSourceConfig.cmake && cd ..\..
  artifacts:
    paths:
    - build\ReleaseX64\ingescape-*.exe
    - build\ReleaseX64\ingescape-*.zip
  dependencies:
  ...

lib-installer-runtime-macos-x64:
  stage: installer-lib
  tags:
  - osx
  script:
  - make -C build package
  artifacts:
    paths:
    - build/ingescape-*
  dependencies:
  - lib-macos-release-x64

adapting to new source structures
  builds/ingescape-macos/Info.plist
  builds/ingescape.xcodeproj/project.pbxproj
  builds/ingescape.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  builds/ingescape.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  builds/ingescape.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  dependencies/unix/install.sh
  ingeprobe/ingeprobe.pro
  ingeprobe/ingeprobe.xcodeproj/project.pbxproj
  ingeprobe/ingeprobe/zregex.c
  ingeprobe/ingeprobe/zregex.h
  ingeprobe/src/Makefile
  ingeprobe/src/main.c
  ingeprobe/src/uthash/libut.h
  ingeprobe/src/uthash/ringbuf.h
  ingeprobe/src/uthash/utarray.h
  ingeprobe/src/uthash/uthash.h
  ingeprobe/src/uthash/utlist.h
  ingeprobe/src/uthash/utmm.h
  ingeprobe/src/uthash/utringbuffer.h
  ingeprobe/src/uthash/utstring.h
  ingeprobe/src/uthash/utvector.h
Due: none

adapting to new source structures
  ingeprobe/ingeprobe/Makefile
  ingeprobe/ingeprobe/main.c
  ingeprobe/ingeprobe/uthash/libut.h
  ingeprobe/ingeprobe/uthash/ringbuf.h
  ingeprobe/ingeprobe/uthash/utarray.h
  ingeprobe/ingeprobe/uthash/uthash.h
  ingeprobe/ingeprobe/uthash/utlist.h
  ingeprobe/ingeprobe/uthash/utmm.h
  ingeprobe/ingeprobe/uthash/utringbuffer.h
  ingeprobe/ingeprobe/uthash/utstring.h
  ingeprobe/ingeprobe/uthash/utvector.h
Due: none

level up warning to error when spaces in iop names
  src/definition.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

change script name and upload CI config accordingly
  .gitlab-ci.yml
  dependencies/unix/installIngescapeAndDependencies.sh
Due: none

Fix Qt creator compilation on windows
  bindings/qml/IngeScapeQMLPlayground/IngeScapeQMLPlayground.pro
  builds/ingescape.pri
  editor/apps/IngeScape-Editor/CMakeLists.txt
  editor/apps/IngeScape-Editor/IngeScape-Editor.pro
  editor/apps/IngeScape-Measuring/IngeScape-Measuring.pro
  src/include/ingescape.h
  src/include/ingescape_advanced.h
  src/include/ingescape_private.h
Due: lib-linux-release-x64, lib-macos-release-x64, editor-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, editor-windows-release-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, editor-installer-macos-x64, editor-installer-windows-x86, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

solve possible deadlock when trying to create an already existing entry
  src/definition.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

improve display of string outputs
  ingeprobe/src/main.c
Due: none

add --prefix to install script for MacOS
  dependencies/unix/installIngescapeAndDependencies.sh
Due: none

Use 'ingescape/debian-with-zyre' as the Docker image for Linux tasks in CI/CD
  .gitlab-ci.yml
Due: none

several DEB packages are now generated for several Debian versions
  .gitlab-ci.yml
  CMakeLists.txt
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

[CI] Deploy job for armhf version of ingescape
  .gitlab-ci.yml
Due: none

Popup for expe creation
  editor/apps/IngeScape-Measuring/qml.qrc
  editor/apps/IngeScape-Measuring/qml/ExperimentationsListView.qml
  editor/apps/IngeScape-Measuring/qml/IngeScapeMeasuring.qml
  editor/apps/IngeScape-Measuring/qml/main.qml
  editor/apps/IngeScape-Measuring/qml/popup/CreateExperimentationPopup.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

all CI artifacts are now named
  .gitlab-ci.yml
Due: none

Fix image name for armhf deploy job
  .gitlab-ci.yml
Due: none

Manage bug that appears with Qt 5.12 for QTime in C++ and the display in QML (JS) that manage correctly only when there is a date with the time
  editor/apps/IngeScape-Editor/controller/abstracttimeactionslinescenarioviewcontroller.cpp
  editor/apps/IngeScape-Editor/controller/abstracttimeactionslinescenarioviewcontroller.h
  editor/apps/IngeScape-Editor/controller/ingescapeeditorcontroller.cpp
  editor/apps/IngeScape-Editor/controller/scenariocontroller.h
  editor/apps/IngeScape-Editor/model/enums.h
  editor/apps/IngeScape-Editor/model/recordm.cpp
  editor/apps/IngeScape-Editor/qml/record/RecordsList.qml
  editor/apps/IngeScape-Editor/qml/scenario/ScenarioTimeLine.qml
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

Manage bug that appears with Qt 5.12 for QTime in C++ and the display in QML (JS) that manage correctly only when there is a date with the time
  editor/apps/IngeScape-Editor/controller/abstracttimeactionslinescenarioviewcontroller.cpp
  editor/apps/IngeScape-Editor/controller/recordssupervisioncontroller.h
Due: editor-macos-release-x64, editor-windows-release-x86, editor-installer-macos-x64, editor-installer-windows-x86

Fix path of editor source code to auto build it
  .gitlab-ci.yml
Due: none

add comments
  src/include/ingescape.h
  src/parser.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

solve bug in agents stop
  builds/xcode/ingescape.xcodeproj/project.pbxproj
  src/network.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

add first version of license mechanism
  builds/cmake/modules/IngescapeHelper.cmake
  builds/xcode/ingescape.xcodeproj/project.pbxproj
  src/include/ingescape.h
  src/include/ingescape_private.h
  src/license.c
  src/network.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

add mutex support for licenses on windows
  src/license.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

remove MAX macro because Mircosoft
  src/license.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

remove MAX macro because Mircosoft (second time because it's too good)
  src/license.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

move mutex lock and unlock to be more thread-safe
  src/definition.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

Link to CoreFoundation used by licenses
  builds/ingescape.pri
Due: none

Clean python binding code and compilation
  bindings/python/MANIFEST.in
  bindings/python/README.txt
  bindings/python/ingescapePython/MANIFEST.in
  bindings/python/ingescapePython/__init__.py
  bindings/python/ingescapePython/agent.py
  bindings/python/ingescapePython/definition.py
  bindings/python/ingescapePython/iop.py
  bindings/python/ingescapePython/mapping.py
  bindings/python/ingescapePython/setup.py
  bindings/python/ingescapePython/switch_iop.py
  bindings/python/ingescapeWrapper/ingescapeWrapp.xcodeproj/project.pbxproj
  bindings/python/ingescapeWrapper/ingescapeWrapp/admin.c
  bindings/python/ingescapeWrapper/ingescapeWrapp/input.c
  bindings/python/ingescapeWrapper/ingescapeWrapp/regex.c
  bindings/python/ingescapeWrapper/ingescapeWrapp/regex.h
  bindings/python/install.sh
  bindings/python/setup.py
Due: none

Install script for MacOS tries to upgrade already installed packages
  dependencies/unix/installIngescapeAndDependencies.sh
Due: none

conf update after xcode upgrade
  builds/xcode/ingescape.xcodeproj/project.pbxproj
  dependencies/yajl/yajl.xcodeproj/project.pbxproj
Due: none

add software to generate and read licenses
  ingelicense/ingelicense.xcodeproj/project.pbxproj
  ingelicense/ingelicense.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ingelicense/ingelicense.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ingelicense/src/agents.txt
  ingelicense/src/features.txt
  ingelicense/src/main.c
Due: none

optimize license locks
  src/network.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

add crypted license file functions
  src/license.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

add resource for sodium
  ingelicense/src/main.c
Due: none

make code work for windows
  src/license.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

Link Editor to sodium for Qt Creator
  builds/ingescape.pri
Due: none

create log level for license information add remote function to get license information from any agent
  src/admin.c
  src/include/ingescape_private.h
  src/license.c
  src/network.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

remove compilation warnings
  src/license.c
  src/network.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

solve a nasty bug in folder scanning for licenses remove compilation warnings
  src/license.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

remove compilation warnings
  src/admin.c
  src/mapping.c
  src/network.c
  src/parser.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

add functions for directory exploration
  dependencies/windows/unix/unixfunctions.c
  dependencies/windows/unix/unixfunctions.h
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

move posix header to proper position
  src/license.c
Due: lib-linux-release-x64, lib-macos-release-x64, lib-windows-release-x64, lib-windows-release-x86, lib-windows-debug-x64, lib-windows-debug-x86, lib-installer-runtime-windows-x86, lib-installer-runtime-windows-x64, lib-installer-runtime-macos-x64, lib-installer-runtime-linux-x64, lib-deploy-macos-release-x64, lib-deploy-linux-release-x64

Path conditions:
  lib-linux-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-macos-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  editor-macos-release-x64: any of: editor/**/*
  lib-windows-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-windows-release-x86: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-windows-debug-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-windows-debug-x86: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  editor-windows-release-x86: any of: editor/**/*
  lib-installer-runtime-windows-x86: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-installer-runtime-windows-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-installer-runtime-macos-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  editor-installer-macos-x64: any of: editor/**/*
  editor-installer-windows-x86: any of: editor/**/*
  lib-installer-runtime-linux-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-deploy-macos-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
  lib-deploy-linux-release-x64: any of: src/**/*, CMakeLists.txt, builds/cmake/**/*, dependencies/windows/unix/*
